*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
 --red: hsl(0, 100%, 74%);
 --green: hsl(154, 59%, 51%);
 --blue: hsl(248, 32%, 49%);
 --darkblue: hsl(249, 10%, 26%);
 --grayishblue: hsl(246, 25%, 77%);
}
/* font-family: 'Poppins', sans-serif; 16px*/
body, main{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

main{
    background-image: url("images/bg-intro-desktop.png");
    background-color: var(--red);
    align-items: center;
    justify-content: center;
    padding: 10% 5%;
}

.container1{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}
.container2{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.head1{
    width: 60%;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    padding: 5% 0%;
    color: white;
}

.txt1{
    width: 68%;
    text-align: center;
    padding-bottom: 5%;
    color: white;
}

.buttoncontainer{
    width: 100%;
    justify-content:center;
    /* border: 2px solid black; */
    display: flex;
    padding: 3% 0%;
}

.trialbutton{
    width:85%;
    padding:12px 80px;
    background-color: var(--blue);
    border-radius: 10px;
    color: var(--grayishblue);
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.trialbutton strong{
    color: white;
}

form{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

table{
    width: 85%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

input[type=text], input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 7px;
    margin-top: 8px;
    border: 2px solid var(--grayishblue);
    border-radius: 7px;
}

::placeholder{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: var(--darkblue);
}

.claimbutton{
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 8px;
    background-color: var(--green);
    color: white;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    border-radius: 7px;
}

a{
    text-decoration: none;
    color: var(--red);
}

.trialbutton:hover{
    cursor: pointer;
    border: 2px solid var(--blue);
    box-shadow: 2px 4px var(--grayishblue);
}
.claimbutton:hover{
    cursor: pointer;
    border: 2px solid var(--green);
    box-shadow: 2px 4px var(--grayishblue);
}

.termsandconditions{
    text-align: center;
}

@media screen and (max-width:1500px) and (min-width: 400px){

    main{
        background-image: url("images/bg-intro-desktop.png");
        background-color: var(--red);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    
    .container1{
        width: 80%;
    }

    .container2{
        width: 80%;
    }
    .head1{
        width: 80%;
        text-align: left;
        font-weight: 700;
        font-size: 25px;
        padding-bottom: 4%;
        color: white;
    }
    
    .txt1{
        width: 80%;
        text-align: left;
        padding-bottom: 5%;
        color: white;
    }

    .trialbutton{
        width:90%;
    }

    table{
        width: 90%;
    }

}